In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('train.csv')

In [3]:
data.head(n = 5)    #checking first 5 rows of dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
columns_to_drop = ['PassengerId','Name','Ticket','Cabin','Embarked']
data_clean = data.drop(columns_to_drop,axis=1)

#dropping those columns which are not required

In [5]:
# handling the strings values in Column 'Sex' by using LabelEncoder

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

data_clean['Sex'] = le.fit_transform(data_clean['Sex'])

In [6]:
# Now Male is denoted by 1
# and Female is denoted by 0

data_clean.head(n=5)

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

In [7]:
data_clean = data_clean.fillna(data_clean['Age'].mean())  #Filling the values which are NaN in dataset

In [8]:
input_cols = ['Pclass','Sex','Age','SibSp','Parch','Fare']
output_cols = ['Survived']

X = data_clean[input_cols]
Y = data_clean[output_cols]

## Using SkLearn

In [10]:
from sklearn.tree import DecisionTreeClassifier

In [11]:
sk_tree = DecisionTreeClassifier(criterion='entropy',max_depth=5)

In [12]:
sk_tree.fit(data_clean[input_cols],data_clean[output_cols])

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [13]:
sk_tree.score(data_clean[input_cols],data_clean[output_cols])

0.8473625140291807

In [14]:
DecisionTreeClassifier?